body {
    min-width: 800px;
    font-family: sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
    width: 100%;
    padding:0;
    box-sizing: border-box;
    background: #272822;
    font-size: 18px;
    color: #f8f8f2;
    font-family: sans-serif;
}

.header {
    background:  #49483E;
    padding: 10px 40px;
}

.header img {
    height: 20px;
    margin-right: 8px;
    transform: translateY(3px);
}

.header a.logo {
    font-size: 18px;
    display: inline;
    font-weight: bold;
    margin-right: 18px;
    text-decoration: none;
    color: #f92672;
}
.header a.logo:hover {
    color: #f8f8f2;
}

.header button {
    background: #272822;
    border: none;
    color: #f8f8f2;
    border-radius: 3px;
    font-size: 18px;
}
.header button:hover {
    background: #75715e;
}

.header .accountHeader {
    float: right;
}

.header .accountHeader .loginMessage {
    font-size: 14px;
    color: #75715e;
}

.header .accountHeader button {
    font-size: 14px;
    color: #75715e;
    margin-left: 10px;
}

.header .accountHeader button:hover {
    color: #f8f8f2;
}

.statusArea {
    position: absolute;
    color: #ae81ff;
    right: 40px;
    top: -4px;
    font-size: 12px;
    padding: 18px;
}

textarea {
    outline: none;
}

textarea.Text {
    background: #272822;
    border: none;
    color: #f8f8f2;
    padding: 4px 18px;
    resize: none;
    font-size: 18px;
    font-family: monospace;
    line-height: 22px;
    height: 22px;
}

textarea.multi {
    height: 180px;
}

textarea.Text:focus {
    background: #49483E;
}

.outAreaItem {
    padding: 4px 18px;
    line-height: 22px;
}

.outAreaItemResult {
    color: #ae81ff;
}

.outAreaItemInfo {
    color: #d0d0d0;
}

.outAreaItemInput {
    color: #f8f8f2;
}

.smalltext {
    color: #75715e;
    font-size: 12px;
    text-align: right;
}

.outArea {
    background: #272822;
    border-radius: 4px;
    border: 1px solid #d0d0d0;
    color: #fd971f;
    margin: 40px;
    padding-top: 18px;


    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: scroll;
}

.comment {
    color: #75715e;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #75715e;
    border-radius: 10px;
    width: 10px;
}

/* Based on Sublime Text's Monokai theme */
.outAreaEditor {
    color: #f8f8f2;
    padding: 0;
    width: 10px;
}

.outAreaEditor div {
    min-height: 100%;
}

.comment {color: #75715e;}
.specialcomment {color: #e1e1e1;}
.operator, a {color: #ae81ff;}
.number {color: #ae81ff;}
.keyword, h1 {color: #f92672; font-weight: bold;}
.string {color: #e6db74; font-style: italic;}
.builtin {color: #9effff;}
.function, h2 {color: #fd971f;}
.punctuation {color: #f8f8f2; font-weight: bold;}

.terminal {
    border: 2px solid #090908;
    background: #1d1d19;
    height: 20vh;
    padding: 20px 40px;
    overflow: scroll;
}

.editPage {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-grow: 1;
}

.editPage .hanamaru {
    font-size: 100px;
    animation: fadeIn ease 1s;
}

.loginContainer {
    position: fixed;
    width: 100%;
    background: #27282299;
    height: 100vh;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 9;
    box-sizing: border-box;
    padding: 50px;
}

.loginContainer h1 {
    color: #f92672;
}
.loginContainer h2 {
    color: #75715e;
}
.loginContainer div.dialog {
    background: #272822;
    border: 1px solid #f8f8f2;
    padding: 20px 40px;
    width: 328px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0px 9px 24px 0px rgba(0,0,0,0.44);
}

.Home {
    background: #1d1d19;
}

.cardFooter {
    text-align: right;
    margin-top: 16px;
}
.Home > div {
    margin: 80px auto;
    padding: 25px 30px;
    width: 600px;
    background: #272822;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 9px 24px 0px rgba(0,0,0,0.44);
}
.Home div.plain {
    box-shadow: none;
    background: none;
    background: none;
    padding: 0;

    writing-mode: tb-rl;
    opacity: 1.0;
    line-height: 35px;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 40px;
    /* border-top: 2px solid #272822; */
    font-size: 22px;
    line-height: 36px;
}
.Home hr {
    width: 600px;
    border: none;
    border-top: 2px solid #272822;
}

.Home div h1 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 30px;
}

.Home div h2 {
    font-weight: normal;
    font-size: 24px;
    margin: 8px 0;
}

.Home p {
    margin: 0px;
}

dl {
    border: 1px solid #75715e;
    height: 150px;
    overflow-y: scroll;
    padding: 10px 0;
    border-radius: 4px;
}
dt {
    float: left;
    clear: left;
    width: 150px;
    font-weight: bold;
    text-align: right;
    color: #a49e80;
}
dt::after {
    content: "：　";
    color: #75715e;
}

ul {
    margin: 0;
}

a.bigButton, button.bigButton {
    display: inline-block;
    background: #9a1747;
    border: none;
    color: #f8f8f2;
    border-radius: 3px;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
}

a.bigButton, button.bigButton {
    margin-bottom: 0px;
}

a.bigButton:hover, button.bigButton {
    background: #f92672;
}

hr {
    border: none;
    border-bottom: 1px solid #75715e;
}

div.featurePhoto {
    width: 65%;
    border: none;
    padding: 20px 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #75715e;
    box-sizing: border-box;
}

div.featurePhoto img {
    width: 100%;
}

div.footer {
    margin-top: 200px;
    border: none;
    box-shadow: none;
    background: none;
    text-align: center;
    color: grey;
}
h1.pageTitle {
    text-align: center;
    font-size: 60px;
}
h2.pageTitle {
    text-align: center;
}

pre {
    margin: 0;
}

.fade-in {
    animation: fadeIn ease 1s;
}
@keyframes fadeIn {
    0% {
        opacity:0;
        transform: translateY(-15px);
        /* transform: scaleX(0.8); */
    }
    100% {
        opacity:1;
        transform: translateY(0);
        /* transform: scaleX(1.0); */
    }
}

@keyframes jumpIn {
    0% {
        opacity: 0.7;
        transform: translateY(0px) scale(1.1) translateX(0);
    }
    100% {
        opacity:1;
        transform: translateY(0) scale(1) translateX(0);
    }
}

img.biglogo {
    margin: 0 auto;
    display: block;
    width: 300px;
    margin-bottom: -50px;
}
