build*/
.DS_Store
*.swp
*~
tags
.idea
cmake-build-debug/
*.pro.user
vc140.pdb
vsc_workspace.code-workspace
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
node_modules/
.env
runtime.env
cmake*/
