[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "fakeit"]
	path = fakeit
	url = https://github.com/eranpeer/FakeIt.git
[submodule "websocketpp"]
	path = websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
